# Environment variables
# VERY IMPORANT: This must never be exposed online
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.log

# Virtual Environment
venv/
ENV/
env/
api/
chatbot/

# Flask instance folder
instance/
flask_session/

# Conversations
conversations/
