# Environment variables
# VERY IMPORANT: This must never be exposed online
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.log

# Virtual Environment
.venv/
venv/
ENV/
env/
api/
chatbot/

# Flask instance folder
instance/
flask_session/

# Zone Identifiers
*.zoneinfo
*.tzinfo
*.pid
*.seed
*.backup
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.log
*.out
*.err
*.aux
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*Zone.Identifier*
